/* Animal Type styles */

/* Container */
.animal-type-container {
    text-align: center;
    margin-top: 50px;
}

/* Header */
.animal-type-header {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Body */
.animals-body {
    color: #000000;
    font-size: 1.5rem;
    margin-top: 20px;
    word-wrap: break-word;
    list-style-type: none;
}

.animals-body img {
    width: 500px;
    height: auto;
}

.animals-body:hover {
    cursor: pointer;
}

.animal-name {
    color: #000000;
    transition: color 0.3s;
}

.animal-name a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.animal-name a:hover {
    color: #FF5733;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    outline: none;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}
