/* Navbar Styles */

/* List */
.navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: #ff5e00;
}

/* Item */
.navbar-item {
    margin-right: 20px;
}

/* Login Section */
.login-section {
    margin-left: auto;
}