/* Pets styles */

/* Container */
.pets-container {
    text-align: center;
    margin-top: 50px;
}

/* Header */
.pets-header {
    color: #333;
    font-size: 2.5rem;
}

/* Body */
.pets-body {
    color: #666;
    font-size: 1.5rem;
    margin-top: 20px;
}